<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Welcome to
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">LAN.DA</span>
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8">
						Is a free and open-source starter-kit to make your website using Astro. Ready to start a new project and designed taking into account best practices.
					</p>
					<div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn-download btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 sm:mb-0 w-full"
								href="https://github.com/alandawi/landa"
								target="_blank"
								rel="noopener"
							>
								Get template
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
